{% trans_default_domain 'FOSUserBundle' %}
<h2>Registro</h2>
<div id="errorsMsg">{{ form_errors(form) }}</div>
<form id="registerForm" name="registerForm" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget (form._token) }} 
    <fieldset style="border: 0;">
        <table>
            <tbody>
                <tr>
                    <td style="font-weight: bold">DNI: </td>
                    <td>
                        {{ form_widget (form.dni) }} &nbsp; (*) 
                        <span id="dniFeedback" style="color: red; font-weight: bold;">{{ form_errors(form.dni) }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Nombre: </td>
                    <td>{{ form_widget (form.firstname) }} &nbsp; (*) <span id="firstnameFeedback" style="color: red; font-weight: bold;"></span></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Apellido: </td>
                    <td>{{ form_widget (form.lastname) }} &nbsp; (*) <span id="lastnameFeedback" style="color: red; font-weight: bold;"></span></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Nombre de Usuario: </td>
                    <td>
                        {{ form_widget (form.username) }} &nbsp; (*) 
                        <span id="usernameInputFeedback" style="color: red; font-weight: bold;">{{ form_errors(form.username) }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">E-Mail: </td>
                    <td>
                        {{ form_widget (form.email) }} &nbsp; (*) 
                        <span id="emailFeedback" style="color: red; font-weight: bold;">{{ form_errors(form.email) }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Password: </td>
                    <td>
                        {{ form_widget (form.plainPassword.first) }} &nbsp; (*) 
                        <span id="password1Feedback" style="color: red; font-weight: bold;">{{ form_errors(form.plainPassword.first) }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Repita Password: </td>
                    <td>
                        {{ form_widget (form.plainPassword.second) }} &nbsp; (*) 
                        <span id="password2Feedback" style="color: red; font-weight: bold;">{{ form_errors(form.plainPassword.second) }}</span>
                    </td>
                </tr>
                
                <tr>
                    <td style="font-weight: bold">Unidad de Negocios: </td>
                    <td>{{ form_widget (form.businessUnit) }} &nbsp; (*) <span id="businessUnitFeedback" style="color: red; font-weight: bold;"></span></td>
                </tr>
                
                <tr>
                    <td style="font-weight: bold">Lugar de Trabajo: </td>
                    <td>{{ form_widget (form.workplace) }} &nbsp; (*) <span id="workplaceFeedback" style="color: red; font-weight: bold;"></span></td>
                </tr>
                
                <!-- <tr>
                    <td style="font-weight: bold">Imagen: </td>
                    <td><input type="file" name="file" size="40" /></td>
                </tr> 
                <tr>
                    <td style="font-weight: bold">Invitado por: </td>
                    <td><input type="text" name="invited_by" id="invited_by" size="35" onkeydown="clearFeedback(this);"/>&nbsp; (*) <span id="password2Feedback" style="color: red; font-weight: bold;"></span></td>
                </tr> -->
                <tr colspan="2">
                    <td colspan="2" style="font-weight: bold">
                        Terminos y Condiciones:
                    </td>
                </tr>
                <tr colspan="2">
                    <td colspan="2">
                        <textarea rows="5" cols="40" readonly>
Reglamento 

Modo de juego 

EL juego consiste en pronosticar el resultado (ganador o empate) de cada partido del mundial de 
futbol FIFA a disputarse entre el 12 de junio y 13 de julio de 2014 en Brasil. 

Cada jugador sumará 1 (un) punto por cada acierto de los partidos de la primera fase (fase de 
grupos clasificatoria). 

Octavos de final: cada jugador sumará 2 (dos) puntos por cada acierto. 

Cuartos de final: cada jugador sumará 3 (tres) puntos por cada acierto.

Semi final: cada jugador sumará 4 (cuatro) puntos por cada acierto. 

Partido por el tercer puesto: cada jugador sumará 6 (seis) puntos por acertar el pronóstico del 
partido por el tercer puesto. 

Partido final: cada jugador sumará 8 (ocho) puntos por acertar el pronóstico del partido final. 
Ganará el torneo aquel jugador que mayor cantidad de puntos sume a raíz de los aciertos en sus 
pronósticos, quedando establecido un sistema de premios para el primero y segundo puesto. 

Nota: el resultado de cada partido será al correspondiente al establecido dentro de los 90 minutos 
de juego reglamentarios (es decir, sin tener en cuenta el alargue y los penales)

Tiempo límite para cargar los pronósticos 

Cada jugador podrá cargar los pronósticos de cada uno de los partidos hasta 4 horas antes del 
inicio de cada encuentro. 

Si un jugador cargó el pronóstico y luego decide cambiarlo, lo podrá hacer la cantidad de veces 
que lo desee siempre que esté dentro del límite de tiempo permitido para cargar los pronósticos. 
4 (cuatro) horas antes de cada uno de los partidos comienza la veda y se blanquean todas las 
tarjetas.

Se tomará como inicio de cada encuentro el horario oficial de cada uno de los partidos publicados 
por la FIFA previo al comienzo del mundial. Es decir, si un partido se posterga, el horario de límite 
de tiempo continuará siendo de 4 (cuatro) horas antes de la hora original del comienzo de ese 
partido. 

Una vez finalizado el tiempo para mandar los pronósticos se blanquearán las tarjetas de cada 
uno de los jugadores, permitiendo de esta manera que cada participante pueda ver todos los 
resultados cargados por los demás competidores. 

Nota importante 

Se recomienda cargar los pronósticos de cada uno de los partidos con la suficiente antelación 
debido a que en caso que el servidor se vea colapsado por la cantidad de usuarios haciendo uso 
del mismo en simultáneo o cualquier otro motivo que impida al jugador cargar los pronósticos, 
entonces ese partido quedará sin ningún pronóstico establecido y en consecuencia sin sumar 
puntos para ese jugador en el o los partidos sin pronóstico. 

Criterios de desempate 

En caso que haya igual sumatoria de puntos entre los ganadores (cualquiera sea el puesto, del 
primero al décimo) se desempatará de la siguiente manera, 

Primera instancia: Se definirá por mayor cantidad de puntos obtenidos en la primera fase por los 
jugadores que estén disputando el desempate. Por ejemplo, si el “jugador A” sumo un total de 32 
(treinta y dos) puntos en la primera fase y el “jugador B” sumo 30 (treinta) puntos en la primera 
fase, entonces resultará ganador del desempate el “jugador A”. En caso de que el empate persista, 
se definirá según el criterio establecido en la “segunda instancia”.

Segunda instancia: Se definirá por mayor cantidad de puntos obtenidos en la fase de octavos de 
final por los jugadores que estén disputando el desempate. En caso de que el empate persista, se 
definirá según el criterio establecido en la “tercera instancia”.

Tercera instancia: Ídem segunda instancia pero considerando la mayor cantidad de puntos 
obtenidos en la fase de cuartos de final. 

Cuarta instancia: Ídem segunda instancia pero considerando la mayor cantidad de puntos 
obtenidos en la fase de semi final.

Quinta instancia: En caso de que no se haya podido definir un ganador y el empate persista luego 
de las cuatro instancias de desempate antes expuesta, entonces resultará ganador del desempate 
aquel que haya ingresado antes el pronóstico del partido final. Por ejemplo, si el “jugador A” 
ingresó el pronóstico un día antes del comienzo del partido final y el “jugador B” lo ingresó 5 
(cinco) horas antes del comienzo del partido final, entonces será ganador del desempate el 
“jugador A”. 

Premios

Premio 1º Puesto.

A elección del ganador entre las siguientes opciones: 

Opción 1): 14 noches de alojamiento más 2 pasajes aéreos ida y vuelta a destinos Nacionales.

Opción 2): 14 noches de alojamiento en:

- Brasil

- EE.UU

- Europa

- Caribe

- Otros destinos internacionales (detalle de ciudades y disponibilidad consultar en Coovaeco).

Premio 2º Puesto

7 noches de alojamiento más 2 pasajes aéreos ida y vuelta a destinos nacionales.

Condiciones:

 - Grupo Familiar Directo: alojamiento para 2 o más personas.

 - Solteros: alojamiento hasta 4 personas.

 - Los Hospedajes (Hoteles, Cabañas, etc.) a los cuales se podrá acceder dependerán de la 
disponibilidad según el sistema de Tiempos Compartidos-RCI para los destinos mencionados 
anteriormente.

 - 1 año de vigencia para su uso desde 01/10/2014 

 - Reserva mínima de anticipación de 3 meses. Cuanto mayor sea el tiempo de anticipación con el 
cual se haga la reserva mayor alternativas de destinos se poseen.

 - No contempla pasajes aéreos en caso que el destino seleccionado sea Internacional. Los pasajes 
aéreos al destino internacional que se elija, tendrán una bonificación equivalente al valor de dos 
pasajes aéreos ida y vuelta Buenos Aires-Córdoba.

 - En caso de contratar los servicios de pasajes aéreos internacionales por Coovaeco, se podrá 
acceder a una financiación de los mismos en 10 cuotas sin interés.

 - Ni bien estén determinados los ganadores desde Coovaeco se estarán contactando para 
asesorarlos acerca de las diferentes alternativas de hospedajes y la mejor forma de aprovechar los 
mismos.

 - Los premios no son canjeables por dinero.

 - Los premios son intransferibles.
                        </textarea>
                    </td>
                </tr>
                <tr colspan="2">
                    <td colspan="2" style="padding-top: 15px;">
                        <input type="checkbox" name="terms" /> Acepto los terminos y condiciones
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <p>
        (*) Obligatorio
    </p>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
